h1, h2, h3, h4, h5, h6 {
    font-family: 'Mplus 1p', 'Alegreya';
}

body {
    color: #333;
    background-color: #f2f2f2;
    font-family: 'Helvetica Neue', 'Mplus 1p', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.col-lg-6 {
    color: red;
}

.container {
    max-width: 1000px;
}

.container h3 {
    font-size: 16px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    border-radius: 0;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.3);
}

.navbar-default {
    background-color: #ffffff;
    border: none;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    color: #0997b6;
    font-family: 'Fira Sans', 'Mplus 1p', Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-brand:hover {
    font-size: 20px;
    color: #ff6600;
    font-family: 'Fira Sans', 'Mplus 1p', Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-nav li a {
    color: #000;
}

.navbar-default .navbar-nav li a:hover {
    color: #ffffff;
    background-color: #0997b6;
}

.navbar-default .navbar-nav .active a {
    color: #ffffff;
    background-color: #0997b6;
}

.navbar-default .navbar-toggle:hover{
    color: #ffffff;
    background-color: #0997b6;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#sidebar {
    width: 300px;
    margin-left: 15px;
    margin-top: 50px;
}

#content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 5px;
}
.post-header h2 {
    font-size: 20px;
    color: #ff6600;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 20px;
}

pre {
    overflow-x: auto;
}
pre code {
    display: block;
    padding: 0.5em;
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

@media (min-width: 1024px) {
     .navbar-nav>li>a {
        padding: 20px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 20px;
        padding: 20px 20px;
    }
    #content{
        margin-top: 30px;
        padding: 30px 40px;
    }
}

@media (max-width: 1024px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 20px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
